h2 {
  text-align: center;
}

.field-operations {
  text-align: center;
}

.remove-btn {
  color: rgb(211, 2, 2);
  margin: 5px;
}

.edit-btn {
  color: rgb(107, 107, 107);
  margin: 5px;
}

.edit-btn:hover,
.remove-btn:hover {
  cursor: pointer;
  border-radius: 100px;
  box-shadow: 0px 0px 10px rgb(70, 69, 69);
}

.transfer-between-two {
  background-color: burlywood;
  border-radius: 50px;
  margin: auto;
  padding: 10px;
  height: 100%;
}

.drag-box {
  width: 150px;
  height: 150px;
  background-color: beige;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  border-radius: 10px;
  position: relative;
}

.drop-zone {
  height: 100%;
  background-color: white;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
}

.no-components {
  text-align: center;
}

.grabbable {
  cursor: all-scroll; /* fallback if grab cursor is unsupported */
  cursor: all-scroll;
  cursor: -moz-all-scroll;
  cursor: -webkit-all-scroll;
}

.grabbable:active {
  cursor: all-scroll;
  cursor: -moz-all-scroll;
  cursor: -webkit-all-scroll;
}

.draggable-item {
  padding: 1em;
  border: 1px solid rgb(36, 36, 36);
  border-radius: 10px;
  background-color: white;
  width: 200px;
  margin: auto;
  display: flex;
}

.draggable-item span{
  font-size: 16px;
  margin-top: 5px;
  margin-right: 5px;
}

.bounding-box {
  width: 250px;
  height: 500px;
  background-color: wheat;
  border: 1px solid white;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bounding-list {
  width: 250px;
  height: 400px;
  background-color: rgb(255, 255, 255);
  border: 1px solid white;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 30px auto;
  padding: 10px;
}

.handle {
  position: absolute;
  bottom: 1em;
  right: 1em;
  width: 25px;
  height: 25px;
  font-size: 20px;
  background-color: burlywood;
  border-radius: 100px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cdk-drag-preview {
  background-color: rgb(242, 242, 242);
  box-shadow: 0px 0px 10px black;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cdk-drag-animating {
  transition: transform 300ms ease-in;
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 200ms ease-in;
}

.cdk-drag-placeholder {
  opacity: 0.5;
}
