h2{
  text-align: center;
}

.transfer-between-two{
  background-color: burlywood;
  border-radius: 50px;
  margin: auto;
  padding: 10px;
  height: 100%;
}

.drag-box {
  width: 150px;
  height: 150px;
  background-color: beige;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  border-radius: 10px;
  position: relative;
}

.drop-zone {
  height: 100%;
  background-color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}

.draggable-item {
  padding: 1em;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  width: 200px;
  margin: auto;
}

.bounding-box {
  width: 250px;
  height: 500px;
  background-color: wheat;
  border: 1px solid white;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bounding-list {
  width: 250px;
  height: 400px;
  background-color: rgb(255, 255, 255);
  border: 1px solid white;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 30px auto;
  padding: 10px;
}

.handle {
  position: absolute;
  bottom: 1em;
  right: 1em;
  width: 25px;
  height: 25px;
  font-size: 20px;
  background-color: burlywood;
  border-radius: 100px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cdk-drag-preview {
  background-color: rgb(242, 242, 242);
  box-shadow: 0px 0px 10px black;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cdk-drag-animating {
  transition: transform 300ms ease-in;
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 200ms ease-in;
}

/* .cdk-drag:not(.cdk-drag-preview) {
  transform: none !important;
}
*/
.cdk-drag-placeholder {
  opacity: 0.5;
}