<!-- <div class="bounding-box">
  <div cdkDrag cdkDragBoundary=".bounding-box" class="drag-box">
    Drag by the handler!

    <div class="handle" cdkDragHandle>
      <span class="material-icons ">drag_indicator</span>
    </div>
  </div>

  <div cdkDrag cdkDragBoundary=".bounding-box" class="drag-box">
    Draggable box!
  </div>
</div>

<div cdkDropList (cdkDropListDropped)="onDrop($event)"
[cdkDropListData]="goodGames" class="bounding-list">

  <div cdkDrag class="draggable-item" *ngFor="let game of goodGames">
    {{game}} 
  </div>
</div>

<div class="transfer-between-two">
  <h2>Transfer Between Two Lists or Arrange a List</h2>

  <div cdkDropListGroup>
    <h2>Played</h2>
    <div
      cdkDropList
      (cdkDropListDropped)="onDrop($event)"
      [cdkDropListData]="goodGames"
    >
      <div cdkDrag class="draggable-item" *ngFor="let game of goodGames">
        {{ game }}
      </div>
    </div>

    <h2>Wishlist</h2>
    <div
      cdkDropList
      (cdkDropListDropped)="onDrop($event)"
      [cdkDropListData]="wishlistGames"
    >
      <div cdkDrag class="draggable-item" *ngFor="let game of wishlistGames">
        {{ game }}
      </div>
    </div>
  </div>
</div>

<h2>Transfer from Wishlist to Played only or arrange a list</h2>
<h2>Played</h2>
<div
  cdkDropList
  id="playedGames"
  (cdkDropListDropped)="onDrop($event)"
  [cdkDropListData]="goodGames"
>
  <div cdkDrag class="draggable-item" *ngFor="let game of goodGames">
    {{ game }}
  </div>
</div>

<h2>Wishlist</h2>
<div
  cdkDropList
  id="wishlistGames"
  [cdkDropListConnectedTo]="['playedGames']"
  (cdkDropListDropped)="onDrop($event)"
  [cdkDropListData]="wishlistGames"
>
  <div cdkDrag class="draggable-item" *ngFor="let game of wishlistGames">
    {{ game }}
  </div>
</div> -->

<div class="transfer-between-two">
  <h2>Transfer Between Two Lists or Arrange a List</h2>

  <div class="row">
    <div class="col-4">
      <h2>Components</h2>
      <div
        cdkDropList
        id="playedGames"
        cdkDropListSortingDisabled="true"
        [cdkDropListConnectedTo]="['wishlistGames']"
        [cdkDropListData]="fieldModels"
      >
        <div
          cdkDrag
          class="draggable-item"
          *ngFor="let field of fieldModels"
          cdkDragPlaceholder
        >
          <span class="material-icons">{{ field.icon }}</span>
          {{ field.label }}
        </div>
      </div>
    </div>

    <div class="col-8">
      <h2>Body</h2>
      <div
        cdkDropList
        id="wishlistGames"
        (cdkDropListDropped)="onDrop($event)"
        [cdkDropListData]="body.attributes"
        class="drop-zone"
      >
        <div *ngIf="bodyFields.length === 0" class="no-components">
          Drag and Drop a component here
        </div>
        <div cdkDrag *ngFor="let attribute of bodyFields; let i = index">
          <div class="row form-group grabbable">
            <div class="col-8">
              <div *ngIf="attribute.type == 'text'">
                <label>{{ attribute.label }}</label>
                <label *ngIf="attribute.required" class="text-danger">*</label>
                <input
                  type="text"
                  class="form-control"
                  id="{{ attribute.name }}"
                  placeholder="{{ attribute.placeholder }}"
                />
              </div>
              <div *ngIf="attribute.type == 'email'">
                <label>{{ attribute.label }}</label>
                <label *ngIf="attribute.required" class="text-danger">*</label>
                <input
                  type="email"
                  class="form-control"
                  id="{{ attribute.name }}"
                  placeholder="{{ attribute.placeholder }}"
                />
              </div>
              <div *ngIf="attribute.type == 'phone'">
                <label>{{ attribute.label }}</label>
                <label *ngIf="attribute.required" class="text-danger">*</label>
                <input
                  type="text"
                  class="form-control"
                  id="{{ attribute.name }}"
                  placeholder="{{ attribute.placeholder }}"
                />
              </div>
              <div *ngIf="attribute.type == 'date'">
                <label>{{ attribute.label }}</label>
                <label *ngIf="attribute.required" class="text-danger">*</label>
                <input
                  type="date"
                  class="form-control"
                  id="{{ attribute.name }}"
                  placeholder="{{ attribute.placeholder }}"
                />
              </div>
              <div *ngIf="attribute.type == 'datetime-local'">
                <label>{{ attribute.label }}</label>
                <label *ngIf="attribute.required" class="text-danger">*</label>
                <input
                  type="datetime-local"
                  class="form-control"
                  id="{{ attribute.name }}"
                  placeholder="{{ attribute.placeholder }}"
                />
              </div>
              <div *ngIf="attribute.type == 'textarea'">
                <label>{{ attribute.label }}</label>
                <label *ngIf="attribute.required" class="text-danger">*</label>
                <textarea
                  class="form-control"
                  id="{{ attribute.name }}"
                  placeholder="{{ attribute.placeholder }}"
                >
                </textarea>
              </div>
              <div *ngIf="attribute.type == 'checkbox'">
                <label>{{ attribute.label }}</label>
                <label *ngIf="attribute.required" class="text-danger">*</label>
                <div
                  *ngFor="let v of attribute.values"
                  class="inline-form-group"
                >
                  <label class="cust-check-bx">
                    <input
                      type="checkbox"
                      [value]="v.value"
                      name="{{ attribute.name }}"
                      (click)="toggleValue(v)"
                    />
                    {{ v.label }}
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
              <div *ngIf="attribute.type == 'radio'">
                <label>{{ attribute.label }}</label>
                <label *ngIf="attribute.required" class="text-danger">*</label>
                <div
                  *ngFor="let v of attribute.values"
                  class="inline-form-group"
                >
                  <label class="cust-check-bx">
                    <input
                      type="radio"
                      [value]="v.value"
                      name="{{ attribute.name }}"
                    />
                    {{ v.label }}
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
              <div *ngIf="attribute.type == 'button'" class="btn-cont">
                <input
                  type="{{ attribute.subtype }}"
                  (click)="submit()"
                  value="{{ attribute.label }}"
                  class="btn btn-primary"
                  id="{{ attribute.name }}"
                />
              </div>
            </div>
            <div class="col-4 field-operations">
              <span
                title="close"
                *ngIf="attribute.toggle"
                (click)="attribute.toggle = false"
                class="material-icons cancel-btn"
              >
                close
              </span>
              <span
                title="edit"
                *ngIf="!attribute.toggle"
                (click)="attribute.toggle = true"
                class="material-icons edit-btn"
              >
                settings
              </span>
              <span
                title="Remove"
                (click)="removeField(i)"
                class="material-icons remove-btn"
              >
                delete
              </span>
            </div>
          </div>

          <!-- Edit Form -->
          <div *ngIf="attribute.toggle" class="edit-form">
            <div class="row form-group">
              <label class="col-2">Required</label>
              <span
                *ngIf="attribute.required"
                (click)="attribute.required = false"
                class="material-icons col-2 activated-required"
              >
                toggle_on
              </span>
              <span
                *ngIf="!attribute.required"
                (click)="attribute.required = true"
                class="material-icons col-2 deactivated-required"
              >
                toggle_off
              </span>
            </div>
            <div class="form-group">
              <label>Label</label>
              <input
                class="form-control"
                type="text"
                [(ngModel)]="attribute.label"
              />
            </div>
            <div class="form-group">
              <label>Name</label>
              <input
                class="form-control"
                type="text"
                [(ngModel)]="attribute.name"
              />
            </div>
            <div class="form-group">
              <label>Placeholder</label>
              <input
                class="form-control"
                type="text"
                [(ngModel)]="attribute.placeholder"
              />
            </div>
            <div class="form-group">
              <label>Regex</label>
              <input
                class="form-control"
                type="text"
                [(ngModel)]="attribute.regex"
              />
            </div>
            <div *ngIf="attribute.regex" class="form-group">
              <label>Error text</label>
              <input
                class="form-control"
                type="text"
                [(ngModel)]="attribute.errorText"
              />
            </div>

            <!-- number -->
            <div *ngIf="attribute.type == 'number'" class="row">
              <div class="col-6">
                <div class="form-group">
                  <label>Min</label>
                  <input
                    class="form-control"
                    type="text"
                    [(ngModel)]="attribute.min"
                  />
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label>Max</label>
                  <input
                    class="form-control"
                    type="text"
                    [(ngModel)]="attribute.max"
                  />
                </div>
              </div>
            </div>

            <!-- radio || checkbox || autocomplete -->
            <div
              *ngIf="
                attribute.type == 'radio' ||
                attribute.type == 'checkbox' ||
                attribute.type == 'autocomplete'
              "
            >
              <div class="row">
                <div class="col-5">
                  <div class="form-group">
                    <label>Label</label>
                  </div>
                </div>
                <div class="col-5">
                  <div class="form-group">
                    <label>Value</label>
                  </div>
                </div>
                <div class="col-2">
                  <div class="form-group">
                    <label>Action</label>
                  </div>
                </div>
              </div>
              <div
                *ngFor="let i of attribute.values; let valueIndex = index"
                class="row"
              >
                <div class="col-5">
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="text"
                      [(ngModel)]="i.label"
                    />
                  </div>
                </div>
                <div class="col-5">
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="text"
                      [(ngModel)]="i.value"
                    />
                  </div>
                </div>
                <div class="col-2">
                  <div class="form-group">
                    <label (click)="attribute.values!.splice(valueIndex, 1)"
                      >remove</label
                    >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-5">
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="text"
                      [(ngModel)]="value.label"
                    />
                  </div>
                </div>
                <div class="col-5">
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="text"
                      [(ngModel)]="value.value"
                    />
                  </div>
                </div>
                <div class="col-2">
                  <div class="form-group">
                    <label (click)="addValue(attribute.values)">Add</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
